<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class='form-group col'>
      <label>Payee Name</label>
      <input class='form-control' (input)="onNameChange($event.target.value)" />
    </div>
    <div class='col'>
      <label><b>Name</b></label>
      <div>
        {{ name |titlecase }}
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class='form-group col'>
      <label>Payment Date</label>
       <!-- type='date'로 바꿔서 datePicker 불러 낼 수 있음 -->
      <input type='date' class='form-control' (input)="onDateChange($event.target.value)" />
    </div>
    <div class='col'>
      <label><b>Payment Date</b></label>
      <div>
        {{ date | date:'MMMM d, y' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class='form-group col'>
      <label>Payment Amount</label>
      <input class='form-control' (input)="onAmountChange($event.target.value)" />
    </div>
    <div class='col'>
      <label><b>Amount</b></label>
      <div>
        {{ amount | currency: 'KRW' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class='form-group col'>
      <label>Height</label>
      <input class='form-control' (input)="onHeightChange($event.target.value)" />
    </div>
    <div class='col'>
      <label><b>Height</b></label>
      <div>
        <!-- 1-3 => 소수점 최소 1번째 자리에서 최대 3번째 자리까지 반올림도 해준다.-->
        {{ height | number: '1.1-3'}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class='form-group col'>
      <label>Miles</label>
      <input class='form-control' (input)="onMilesChange($event.target.value)" />
    </div>
    <div class='col'>
      <label><b>Kilometers</b></label>
      <!-- *ngIf='(miles | convert : "km") >10' 다른 곳에서도 쓸 수 있다.-->
      <div>
        <!-- 1-3 => 소수점 최소 1번째 자리에서 최대 3번째 자리까지 반올림도 해준다.-->
        {{ miles | convert: 'cm' |number: '1.0-2' }}
      </div>
    </div>
  </div>
</div>

<!-- {{car | json}} -->